/* Основной цвет текста  #757575  */
/* Вторичный цвет текста #212121 */
/* Белый цвет: #FFFFFF */
/* Цвет hover: #2196F3 */
/* Цвет кнопок: background: #2196F3 */
/* Основной шрифт: Roboto */
/* Шрифт логотипа: Raleway / Oleo Script */
/* Фон шапки: #FFFFFF */
/* Фон футера: #2F303A */
/* Фон секции: #F5F4FA */
/* Неактивный цвет кнопок меню Портфолио: #F5F4FA */
/* Активный цвет кнопок меню Портфолио: #2196F3 */

:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
}

body {
  font-family: Roboto;
  background-color: #ffffff;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

/* Site nav */

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* Section */

.section .section-title {
  color: var(--primary-title-color);
}

section .section-text {
  color: var(--primary-text-color);
}

/* Footer */

.footer {
    background: #2F303A;
}

.footer .footer-text {
    color:#ffffff
}

.footer .link {
    color: rgba(255, 255, 255, 0.6)
}