body {
  font-family: Roboto;
  background-color: #ffffff;
}

.list {
    list-style: none;
}

/* Основной цвет текста #212121 */
/* Вторичный цвет текста #757575 */
/* Белый цвет: #FFFFFF */
/* Цвет hover: #2196F3 */
/* Цвет кнопок: background: #2196F3 */
/* Основной шрифт: Roboto */
/* Шрифт логотипа: Raleway / Oleo Script */
/* Фон шапки: #FFFFFF */
/* Фон футера: #2F303A */
/* Фон секции: #F5F4FA */
/* Неактивный цвет кнопок меню Портфолио: #F5F4FA */
/* Активный цвет кнопок меню Портфолио: #2196F3 */
